@import 'c/cssLibrary';

.container{
    background-color:var(--secondary-color);
    color:var(--primary-color);
    font-family:Nunito, sans-serif;
}


.modelbox{
    background-color:transparent;
    border-radius: 0;
    box-shadow:none;
}
ul>li{
    margin-top:.4em;

}
.anime__breadth {
    animation: breadth alternate infinite ease-in-out 5s;
  }
  @keyframes breadth {
    0% {
      transform:scale(1);
    }
    50%{
        transform:scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  